body {
  font-family: Arial, Helvetica, san-serif;
  text-align: center;
}

#game {
  margin-top: 50px;
  display: inline-block;
  position: relative;
}

#game .cup {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 130px solid #3498db;
  border-radius: 2px;
  height: 0;
  cursor: pointer;
  float: left;
  margin: 0px 20px;
  postition: relative;
  width: 70px;
}

#game .ball {
  display: none;
  background: #fff;
  border-style: solid;
  border-color: #28be68;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#game-result {
  display: none;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px; 
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
}

.success {
  color:#555;
  border-radius:10px;
  background:#e9ffd9;
  border:1px solid #a6ca8a;
}

.failure {
  color:#555;
  border-radius:10px;
  background:#ffecec;
  border:1px solid #f5aca6;
}

.settings {
  display: block;
  width: 100%;
}

#btn-play {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  margin-top: 50px;
  width: 100%;
  max-width: 300px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;  
}

.setting-details {
  text-align: center;
  display: inline-block;
}

.game-option {
	clear: both;
	margin: 0 50px;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

input[type="radio"]{
    visibility:hidden;
}