body {
  background: #0a0a0a;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

.sword {
  position: relative; 
  top: -150px;
  opacity: 0;
  animation: fadeIn 3s linear 3s forwards;
}

.ancking {
    position: absolute;
    top: -40px;
    opacity: 0;
    animation: fadeIn 3s linear 3s forwards;
}

h1,  {
  color: white;
 
}

html, body {
  height: 100%;
  font-family: "Source Code Pro", monospace; }

.perspective {
  perspective: 800px; 
}

.space {
  position: relative;
  margin: auto;
  transform-style: preserve-3d;
  width: 1500px; height: 1500px;
  animation: spin 6s linear infinite;
  -webkit-animation: spin 6s linear forwards;
  /*background: green; */s
}

.star {
  width: 3px; height: 3px;
  
  background: white;
  position: absolute;
  box-shadow: 0 0 20px 1px white;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  80% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
  }
    100% {
    -webkit-transform: translateY(1000px) rotateX(180deg) rotateY(180deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
  80% {
    -webkit-transform: translateY(0px) rotateX(180deg) rotateY(180deg);
  }
  85% {
    -webkit-transform: translateY(-20px) rotateX(180deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translateY(1200px) rotateX(180deg) rotateY(180deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



#holder{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: rgba(86, 59, 91, 0.05);
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  right: 40%;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
  opacity: 0;
  animation: fadeIn 3s linear 3s forwards;
}

.button {
  background: #4A90E2;
  border-bottom: 0.2em solid #2378db;
  margin : 20px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  text-decoration: none;
  color: #fff;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  font: inherit;
}
.button:hover {
      background: #2378db; 
}

.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background: rgb(98, 185, 251);
  left : -250px;
  transition : .3s;
  border-bottom: 0.0em solid #2378db;
  text-decoration: none;
  color: #fff;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  font: inherit;
}
.btnText {
  color : white;
  transition : .3s;
  font: inherit;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -115px;
  color : #FFF;
  font: inherit;
}
.button:hover .btnTwo{ 
  left: -115px;
}
.button:hover .btnText{ 
  margin-left : 95px;
}
.button:active { 
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
